:root {
  --color-global: #2196f3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  padding: 25px 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header_left-side {
  display: flex;
  align-items: center;
}

.webstudio {
  display: flex;
  justify-content: flex-start;
}

.contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 50 px;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.logo-highlight {
  color: var(--color-global);
}

.logo {
  line-height: 1.19;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-right: 92px;
}

.nav-header {
  display: flex;
  justify-content: center;
  gap: 46px;
  list-style: none;
}
.nav-link {
  font-family: "Roboto";
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
}

.hero {
  width: 100%;
  background-color: #212121;
  padding: 200px 0;
}
.hero_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-headline {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  max-width: 696px;
  margin: 0 auto;
  margin: 0 0 30px 30px;
}

.lorem-ipsum {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}
.whatwedo {
  display: flex;
  justify-content: space-between;
}
.whatwedo-text {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.whatwedo-pic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
}

.team {
  color: #212121;
  font-weight: 700;
  background: #f5f4fa;
}

.our-team {
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.ourteam-pic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-top: 94px;
  gap: 30px;
}
.figure {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.figurecaption {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

a {
  text-decoration: none;
  font-family: "Roboto";
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.lorem-list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-top: 94px;
}
.lorem-elements {
}

.lorem-text {
  font-style: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: flex-start;
}

.second-page {
  display: flex;
  flex-flow: column wrap;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-global);
  text-decoration: none;
}

.link-portfolio:hover,
.link-portfolio:focus {
  color: var(--color-global);
  text-decoration: none;
}

.link-contact:hover,
.link-contact:focus {
  color: var(--color-global);
}

.buttons-style {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1, 6;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  background: #f5f4fa;
  border: var(--color-global);
  border-radius: 4px;
  padding: 6px 22px;
  display: flex;
  align-items: center;
}

.buttons-style:hover {
  color: #ffffff;
  background-color: var(--color-global);
}

.button-style:focus {
  color: #ffffff;
  background-color: var(--color-global);
}

.button-index {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: #ffffff;
  background: var(--color-global);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 15);
  border: 0px solid transparent;
  padding: 10px 42px;
}

.button-index:hover {
  color: #ffffff;
  background-color: var(--color-global);
}

.button-index:focus {
  color: #ffffff;
  background-color: var(--color-global);
}

.buttons-portfolio {
  display: flex;
  list-style: none;
}

.footer {
  background: #2f303a;
  width: 1600px;
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 20;
  letter-spacing: 0, 03em;
  color: #ffffff;
  text-decoration: none;
  width: 145 px;
  height: 31 px;
  left: 215 px;
  top: 2157 px;
}

.contact {
  font-family: "Roboto";
  color: #757575;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  font-weight: 500px;
  letter-spacing: 0, 02em;
}

.contact-footer {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1, 7;
  letter-spacing: 0, 03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
}

.adress {
  font-family: "Roboto";
  background: #2f303a;
  color: #ffffff;
  font-size: 14px;
  line-height: 1, 7;
  font-weight: 400px;
  letter-spacing: 0, 03em;
  font-style: normal;
}
